[defaults]
vault_password_file=~/.ansible-vault-pass
callback_result_format=yaml
collections_path=./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path=./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
