---
# variables
# - file: file

- debug:
    msg: installing /boot/config/{{file}}
    
- name: ensure user script dir {{ file | dirname }}
  file:
    path: /boot/config/{{ file | dirname }}
    state: directory
    mode: '0700'
    owner: root
    group: root

- name: copy user script {{ file }}
  copy:
    src: "{{ file }}"
    dest: /boot/config/{{file}}
    mode: '0600'
    owner: root
    group: root
    