---
- name: ensure target directory exists
  ansible.builtin.file:
    path: '{{ template_dest }}/{{ template_src | basename }}'
    state: directory
    group: users
    owner: nobody
    mode: '0777'

- name: Ensure directory structure exists
  ansible.builtin.file:
    path: '{{ template_dest }}/{{ template_src | basename }}/{{ item.path }}'
    state: directory
    group: users
    owner: nobody
    mode: '0777'
  with_community.general.filetree: '{{ role_path }}/templates/{{ template_src }}'
  when: item.state == 'directory'

- name: Ensure files are populated from templates
  ansible.builtin.template:
    src: '{{ item.src }}'
    dest: '{{ template_dest }}/{{ template_src | basename }}/{{ item.path }}'
    group: users
    owner: nobody
    mode: '0666'
  with_community.general.filetree: '{{ role_path }}/templates/{{ template_src }}'
  when: item.state == 'file'
