api:
  dashboard: true
  insecure: true

entryPoints:
  http:
    address: ":80"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    exposedByDefault: false
    useBindPortIP: true
    network: bridge
    defaultRule: "Host(`{{ '{{ normalize .ContainerName }}' }}.app.apandey.com`)"
  file:
    filename: /etc/traefik/dynamic_conf.yml
    watch: true

accessLog: {}
