[Unit]
Description=pigpio daemon

[Service]
PIDFile=/var/run/pigpiod.pid
ExecStart=/usr/local/bin/pigpiod -g
ExecStop=/usr/bin/killall pigpiod

[Install]
WantedBy=multi-user.target
